html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
  color: $text ;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  font-size: 15px;
  color: $text;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid{
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 720px){
  .container-fluid{
    padding: 0 15px;
  }  
}

.title{
  color: $bg;
  text-align: center;
  font-size: 36px;
  @include f700;
  line-height: 60px;
  margin-bottom: 30px;
}
.rate-star{
  display: inline-block;
  margin-right: 13px;
}