@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
}

.header__text {
  margin-left: auto;
  margin-right: 25px;

  &>a {
    text-decoration: none;
  }

  &-phone {
    color: $text;
  }

  &-help {
    color: #e74c3c;
  }
}

.header__btn {
  width: 72px;
  padding: 7px 0 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
  margin-left: 25px;

  &-register {
    background-color: #e74c3c;
    margin-left: 7px;
  }

  &-login {
    background-color: $green;
  }
}

.header__menu {
  background-color: $bg;
  padding: 23px 0;
}

.menu__list {
  display: flex;

  li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    @include f500;
    line-height: 30px;

    &:hover {
      color: $green;
    }
  }

  li+li {
    margin-left: 40px;
  }
}

// end header
//start search

.search {
  background-image: url('../images/search-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 532px;

  &__inner {
    padding: 155px 0 100px;
    text-align: center;
    color: #fff;

    &-title {
      font-size: 48px;
      line-height: 72px;
      @include f700;
      padding-bottom: 15px;
    }

    &-text {
      font-size: 20px;
      @include f500;
      line-height: 30px;
      padding-bottom: 55px;
    }

    &-form {
      max-width: 670px;
      margin: 0 auto;
      position: relative;

      input {
        display: block;
        width: 100%;
        box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
        background-color: #ffffff;
        height: 56px;
        border: none;
        border-radius: 4px;
        padding-left: 25px;
        padding-right: 60px;
        @include f500;
        line-height: 30px;
        outline: none;
        transition: all .3s;

        &:focus {
          box-shadow: 0 1px 10px rgba(255, 255, 255, 0.966);
        }

        &::placeholder {
          color: #90a4ae;
        }
      }

      button {
        position: absolute;
        border: none;
        background-color: transparent;
        outline: none;
        right: 20px;
        top: 18px;
      }
    }
  }
}

//end search
//start products

.products {
  background-color: $grey;
  padding: 120px 0 110px;
}

.products__inner-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  & button {
    outline: none;
    color: $bg;
    font-size: 14px;
    @include f500;
    padding: 12px 22px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all .3s;

    &+button {
      margin-left: 5px;
    }

    &.mixitup-control-active {
      background-color: #e74c3c;
      color: #ffffff;
      box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  background-color: #ffffff;
  transition: all .2s;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
  }

  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
  }

  &-name {
    @include f500;
    max-width: 310px;
  }

  &-title {
    color: $bg;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
  }

  &-category {
    color: $green;
    font-size: 14px;
    display: block;
    margin-bottom: 17px;
  }

  &-price {
    color: $bg;
    font-size: 20px;
    @include f700;
  }

  &-info {
    border-top: 1px solid #e7ecf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    color: $text;
    @include f500;
    font-size: 14px;

    span {
      margin-right: 14px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
      @include f500;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  font-size: 16px;

  button {
    cursor: pointer;
    margin: 45px 5px 0;
    padding: 16px 32px;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    background-color: #fff;
    border: none;
  }
}

//end products
//start product-slider

.product-slider {
  padding: 120px 0;

  &__inner {
    overflow: hidden;
  }
}

.slick-dots {
  text-align: center;
  margin-top: 50px;

  li {
    display: inline-block;

    &.slick-active {
      button {
        background-color: $green;
      }
    }

    button {
      outline: none;
      border-radius: 50%;
      border: none;
      background-color: #e8e8e8;
      cursor: pointer;
      width: 16px;
      height: 16px;
      font-size: 0;
    }

    &+li {
      margin-left: 7px;
    }
  }
}

.slick-slide {
  display: inline-block;
}

// end product-slider
// start advantages
.advantages {
  background-color: $bg;
  padding: 125px 0 115px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #fff;
    margin-bottom: 80px;
  }

  &__item {
    max-width: 320px;
    text-align: center;
    margin: 0 10px;

    &:hover {
      .advantages__item-title {
        color: $green;
      }

      .advantages__item-images {
        background-color: $green;
      }

      .advantages__item-images {
        g {
          fill: #fff;
        }
      }
    }

    &-images {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 33px;
      border-radius: 50%;
      background-color: #fff;
      width: 114px;
      height: 114px;
      transition: all .3s;

      & g {
        transition: all .3s;
      }
    }

    &-title {
      padding-bottom: 25px;
      color: #fff;
      font-size: 24px;
      @include f500;
      transition: all .3s;
    }

    &-text {
      color: #b0bec5;
      line-height: 24px;
    }
  }
}

//end advantages
//start author
.author {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author__box {
  max-width: 665px;
  background-color: $green;
  padding: 70px 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.author__title {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  max-width: 260px;
  margin-right: 45px;

  & span {
    font-weight: 700;
  }
}

.author-link {
  flex-wrap: wrap;
  color: $bg;
  font-size: 18px;
  line-height: 36px;
  background-color: #ffffff;
  padding: 14px 40px;
  display: inline-block;
}

//end author
//start tutorial
.tutorial {
  padding: 65px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include f700;
  }

  &__item {
    max-width: 370px;
    width: 100%;

    &-images {
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &-title {
      font-size: 24px;
      color: $bg;
      @include f700;
      text-align: center;
      padding: 35px 10px;
      background-color: #f8f8f8;
    }
  }
}

//end tutorial
//start footer
.footer {
  background-color: $bg;

  &__inner {
    padding: 120px 0 100px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;

  &-menu {
    max-width: 220px;
  }

  &-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 51px;
      background: $green;
    }
  }

  &-text {
    color: #b7c3c8;
    margin-bottom: 35px;
  }

  .footer__info+.footer__info {
    margin-top: 25px;
  }

  .footer__info {
    padding-left: 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: relative;

    &:hover {
      color: $green;


    }

    &::before {
      content: '\f041';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }

  .footer__info-phone::before {
    content: '\f095';
  }
  &-list{
    a{
      color: #b7c3c8;
      margin: 7px 0;
      padding-left: 21px;
      position: relative;
      &:hover{
        color: $green;
      }
      &::before{
        content: '\f105';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 18px;
        font-family: 'icomoon';
      }
    }
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
}

.footer__copy-text {
  text-align: center;
  color: #919699;
  padding: 27px 0 32px;
}
.footer__social-link{
  margin-bottom: 40px;
  li{
    display: inline-block;
    &+li{
      margin-left: 8px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url('../images/footer/css_sprites.png');
  }
}

.link-pinterest{
  background-position:-28px -0;
}

.link-twitter{
background-position: -0 -28px;

}

.link-youtube{
  background-position: -28px -28px;
}

.link-linkedin{
  background-position: -56px -0;
}
.footer__form-title{
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 18px;
}
.footer__form{
  position: relative;
  input{
    outline: none;
    border: none;
    border-top: 1px solid #000;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 30px;
    &::placeholder{
      color: #697378;
    }
  }
  button{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    width: 43px;
    height: 40px;
   & img{
    width: 16px;
    height: 17px;
    color: #fff;
   }
  }
}
//end footer